$colors: (
  primary: #528078,
  secondary: #eed75a,
  warning: #FFE869,
  danger: #703B3B,
  success: #FEC100,
  info: #63e792,
  light: #FDFBF7,
  dark: #555555,
  white: #fff,
  gray: #f4f4f4,
  black: #000
);

